#navbar {
  background-color: #7cc3d8;
  overflow: hidden;
  font-size: 1vw;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  height: 50px;
  left: 0px;
  top: 0px;
  width: 100%;
}

#navbar a:hover {
  color: black;
  cursor: pointer;
}
/* Navbar links */
#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  user-select: none;
}
.sticky {
  top: 0;
  position: fixed;
}
.sticky + #content {
  padding-top: 60px;
}
