#navbar {
  background-color: #369cb3;
  overflow: hidden;
  font-size: 17px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

/* Style the links inside the navigation bar */
#navbar p {
  float: left;
  color: #f2f2f2;
  padding: 15px 15px;
}

/* Change the color of links on hover */
#navbar p:hover {
  /*background-color: #50cae6;*/
  color: black;
  cursor: pointer;
}
